<!DOCTYPE html> 
<html> 
  <head> 
  	<title>Visualization by Vizzuality</title> 
    <link rel="shortcut icon" href="./images/favicon.ico"/> 
 
  	<meta name="csrf-param" content="authenticity_token"/> 
  	<meta name="csrf-token" content="hGbr5JdHXI+vqL5u7n/Mft4y1Ie9m+Qes2pfD062wWs="/> 
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
  	<link href="/stylesheets/visualization.css" media="screen" rel="stylesheet" type="text/css" /> 
 
    <script type="text/javascript" src="/javascripts/visualization/modernizr.min.js"></script> 
    <script type="text/javascript" src="/javascripts/visualization/polymaps.min.js"></script> 
    <script type="text/javascript" src="/javascripts/visualization/nns.min.js"></script> 
    <script type="text/javascript" src="/javascripts/visualization/kmeans.js"></script> 
 
  	<script src="/javascripts/visualization.js" type="text/javascript" charset="utf-8"></script> 
  	<script type="text/javascript"> 
 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18595465-1']);
      _gaq.push(['_trackPageview']);
 
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
 
    </script> 
  </head> 
 
  <body>
    <div id="map">
    </div>
    <div class="content">
      <div class="header"></div>
      <h1 class="title"></h1>
    </div>
    <script type="text/javascript"> 

    var po=org.polymaps,map=po.map().container(document.getElementById("map").appendChild(po.svg("svg"))).center({lat:37.787,lon:-122.228}).zoom(14).zoomRange([12,16]).add(po.interact());map.add(po.image().url(po.url("http://{S}tile.cloudmade.com/1a1b06b230af4efdbb989ea99e9841af/20760/256/{Z}/{X}/{Y}.png").hosts(["a.","b.","c.",""])));map.add(po.geoJson().url(crimespotting("http://oakland.crimespotting.org/crime-data?count=1000&format=json&bbox={B}&dstart=2010-04-01&dend=2010-05-01")).on("load",load).clip(false).zoom(14));
    map.add(po.compass().pan("none"));function crimespotting(c){return function(a){var d=1<<a.zoom,b=a.column%d;if(b<0)b+=d;return c.replace(/{(.)}/g,function(f,e){switch(e){case "B":var g=map.coordinateLocation({row:a.row,column:b,zoom:a.zoom}),h=map.coordinateLocation({row:a.row+1,column:b+1,zoom:a.zoom}),i=Math.ceil(Math.log(a.zoom)/Math.LN2);return g.lon.toFixed(i)+","+h.lat.toFixed(i)+","+h.lon.toFixed(i)+","+g.lat.toFixed(i)}return e})}}
    function load(c){for(var a=c.tile.cluster||(c.tile.cluster=kmeans().iterations(16).size(64)),d=0;d<c.features.length;d++){var b=c.features[d];a.add({x:Number(b.element.getAttribute("cx")),y:Number(b.element.getAttribute("cy"))})}c=c.tile;for(b=c.element;b.lastChild;)b.removeChild(b.lastChild);a=a.means();a.sort(function(g,h){return h.size-g.size});for(d=0;d<a.length;d++){var f=a[d],e=b.appendChild(po.svg("circle"));e.setAttribute("cx",f.x);e.setAttribute("cy",f.y);e.setAttribute("r",Math.pow(2,c.zoom-
    11)*Math.sqrt(f.size))}};

    (function(){function d(){if(b=!b){c.style("position","fixed").style("border-width",0).style("width","100%").style("height","100%").style("top",0).style("left",0);a.style("position","fixed").style("right","16px").style("top","16px");e.attr("transform","translate(16,16)rotate(135)scale(5)translate(-1.85,0)");f.style("visibility","hidden").style("overflow","hidden")}else{c.style("position",null).style("border-width",null).style("width",null).style("height",null).style("top",null).style("left",null);
    a.style("position","absolute").style("right","-16px").style("top","-16px");e.attr("transform","translate(16,16)rotate(-45)scale(5)translate(-1.85,0)");f.style("visibility",null).style("overflow",null)}map.resize()}var f=n$(document.body),c=n$("#map").style("visibility","visible"),b=false,a=c.add("svg:svg").attr("width",32).attr("height",32).style("position","absolute").style("right","-16px").style("top","-16px").style("visibility","visible").on("mousedown",d);a.add("svg:circle").attr("cx",16).attr("cy",
    16).attr("r",14).attr("fill","#fff").attr("stroke","#ccc").attr("stroke-width",4).add("svg:title").text("Toggle fullscreen. (ESC)");var e=a.add("svg:path").attr("transform","translate(16,16)rotate(-45)scale(5)translate(-1.85,0)").attr("d","M0,0L0,.5 2,.5 2,1.5 4,0 2,-1.5 2,-.5 0,-.5Z").attr("pointer-events","none").attr("fill","#aaa");window.addEventListener("keydown",function(g){g.keyCode==27&&b&&d()},false)})();


          </script>
  </body> 
</html>