<!DOCTYPE html> 
<html> 
<head> 
	<title>TDWG2010 Techno/BioBlitz</title> 
	<link href="/stylesheets/web.css" media="screen" rel="stylesheet" type="text/css" /> 
	<meta name="csrf-param" content="authenticity_token"/> 
	<meta name="csrf-token" content="hGbr5JdHXI+vqL5u7n/Mft4y1Ie9m+Qes2pfD062wWs="/> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
	<script src="/javascript/cufon-yui.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascript/Museo_Sans_500_400.font.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascript/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascript/web.js" type="text/javascript" charset="utf-8"></script> 
</head> 
 
<body> 
	<div id="container"> 
	<div class="outer_block1"> 
		<div class="outer_illustration"> 
			<div class="block1"> 
				<p class="supertitle">TDWG2010</p> 
				<h1>Techno/Bioblitz</h1> 
				<p class="location"> September 29th, Woods Hole, Massachussets USA</p> 
				<p>Discover and explore an array of natural habitats in and around the village of Woods Hole while providing opportunities for those with technical skills to participate in the capture, processing and presentation of data.</p> 
				<div class="links"> 
					<a href="javascript:void $.scrollTo('div.block4',400)" id="howto">How to contribute</a> 
					<a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010FieldTrips#Schedule" id="signup">Sign up now</a> 
				</div> 
			</div> 
		</div> 
		<div class="separator1"></div> 
	</div> 
	
	<div class="outer_block2"> 
		<div class="block2"> 
			<div class="explanation"> 
				<h3>This is not a traditional bioblitz</h3> 
				<p>The event is not intended to cover the strict scope of a formal bioblitz, which generally consists of a 24-hour intensive inventory of a rather tightly constrained location. <br/><br/> 
				Instead, this event will combine casual, <a href="#" class="link">guided field</a> trips within the Woods Hole village and some select locations in the area, with a support facility at the TDWG venue for identification, imaging, and computer support.<br/><br/> 
				TDWG participants have a chance to attend both Bioblitz-related activities as well as other side events that may be scheduled on Wednesday, 29 September.</p> 
				<a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010" id="schedule">View schedule</a> 
			</div> 
			<div class="goals">	
				<h3>The goals</h3> 
				<ul> 
					<li>Enable observational data to be captured in a manner to develop and promote standards for recording data about organisms.</li> 
					<li>Provide an opportunity to demonstrate these standards in action and evaluate their potential for uptake and use in a real world event.</li> 
					<li>Provide technically-oriented meeting participants the opportunity to showcase their technical skills and software solutions by supporting the event.</li> 
					<li>Serve as a testbed for experiments in social and semantic computing for citizen science.</li> 
				</ul> 
			</div> 
		</div> 
	</div> 
	<div class="outer_block3"> 
		<div class="block3"> 
			<h3>How to contribute</h3> 
			<p>There are many tools that surely will improve your productivity in the Techno/Bioblitz. Feel free to download and use it!</p> 
		</div> 
	</div>	
	<div class="separator2"></div> 
	<div class="outer_block4"> 
		<div class="block4"> 
			<div class="tool"> 
					<img class="img_tool" src="./images/flickrtaggr.png" width="" height="" alt="flickr tagger"/> 
					<h4>FlickrTagger</h4> 
					<p class="tool_author">by <a href="">vizzuality</a></p> 
					<p class="tool_explanation">Tag and upload your taken images to flickr in only 5 clicks. Also you will be able to syncronize your GPX file with your recorded photographs.</p> 
					<a href="download_flickrtaggr"class="download">Download it</a>	
			</div> 
			<div class="tool"> 
					<img class="img_tool" src="./images/flickrtaggr.png" width="" height="" alt="flickr tagger"/> 
					<h4>Taxxonomizer</h4> 
					<p class="tool_author">by <a href="">vizzuality</a></p> 
					<p class="tool_explanation">Propose to taxonomist and volunteers to identify specimenes in your taken photographs.
					Spread your work!</p> 
					<a href="download_flickrtaggr" class="download">Download it</a>	
			</div> 
			<div class="tool"> 
					<img class="img_tool" src="./images/flickrtaggr.png" width="" height="" alt="flickr tagger"/> 
					<h4>FlickrTagger</h4> 
					<p class="tool_author">by <a href="">vizzuality</a></p> 
					<p class="tool_explanation">Tag and upload your taken images to flickr in only 5 clicks. Also you will be able to syncronize your GPX file with your recorded photographs.</p> 
					<a href="download_flickrtaggr" class="download">Download it</a>	
			</div> 
			<div class="tool"> 
					<img class="img_tool" src="./images/flickrtaggr.png" width="" height="" alt="flickr tagger"/> 
					<h4>FlickrTagger</h4> 
					<p class="tool_author">by <a href="">vizzuality</a></p> 
					<p class="tool_explanation">ag and upload your taken images to flickr in only 5 clicks. Also you will be able to syncronize your GPX file with your recorded photographs.</p> 
					<a href="download_flickrtaggr" class="download">Download it</a>	
			</div>		
		</div>						
	</div> 
	<div class="outer_footer"> 
		<div class="footer"> 
			<div class="left"> 
				<ul> 
					<li class="first"><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010">About the event</a></li> 
					<li><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010">Schedule</a></li> 
					<li class="last"><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010FieldTrips#Schedule">Sign up</a></li> 
				</ul> 
			</div> 
			<div class="right"> 
				<p>Organized by</p> 
				<a href="http://www.tdwg.org/" target="_blank"></a> 
			</div> 
			<div class="last"> 
				<p class="vizzuality">This website is a present of</p><a href="http://www.vizzuality.com" target="_blank"></a> 
			</div> 
		</div> 
	</div> 
</div> 
 
</body> 
</html>