<!DOCTYPE html> 
<html> 
<head> 
	<title>TDWG2010 Techno/BioBlitz</title> 
  <link rel="shortcut icon" href="./images/favicon.ico"/>

	<link href="/stylesheets/web.css" media="screen" rel="stylesheet" type="text/css" /> 
	<meta name="csrf-param" content="authenticity_token"/> 
	<meta name="csrf-token" content="hGbr5JdHXI+vqL5u7n/Mft4y1Ie9m+Qes2pfD062wWs="/> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
  <script type="text/javascript" src="/javascripts/js_config.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
	<script src="/javascripts/cufon-yui.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascripts/Museo_Sans_500_400.font.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascripts/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascripts/web.js" type="text/javascript" charset="utf-8"></script> 
	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18595465-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head> 
 
<body> 
	<div id="container"> 
	<div class="outer_block1"> 
		<div class="outer_illustration"> 
			<div class="block1"> 
				<p class="supertitle">TDWG2010</p> 
				<h1 class="museo_font">Techno/Bioblitz</h1> 
				<p class="location"><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Woods+Hole,+Massachussets+USA&ie=UTF8&hq=&hnear=Woods+Hole,+Barnstable,+Massachusetts&z=14" target="_blank">September 29th, Woods Hole, Massachusetts USA</a></p> 
				<p>Discover and explore an array of natural habitats in and around the village of Woods Hole while providing opportunities for those with technical skills to participate in the capture, processing and presentation of data.</p> 
				<div class="links"> 
					<a href="javascript:void $.scrollTo('div.block4',400)" id="howto" class="museo_font">How to contribute</a> 
					<a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010FieldTrips#Schedule" id="signup">Sign up now</a> 
				</div> 
			</div> 
		</div> 
		<div class="separator1"></div> 
	</div> 
	
	<div class="outer_block2"> 
		<div class="block2"> 
			<div class="explanation"> 
				<h3 class="museo_font">This is not a traditional bioblitz</h3> 
				<p>The event is not intended to cover the strict scope of a formal bioblitz, which generally consists of a 24-hour intensive inventory of a rather tightly constrained location. <br/><br/> 
				Instead, this event will combine casual, <a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010" class="link">guided field</a> trips within the Woods Hole village and some select locations in the area, with a support facility at the TDWG venue for identification, imaging, and computer support.<br/><br/> 
				TDWG participants have a chance to attend both Bioblitz-related activities as well as other side events that may be scheduled on Wednesday, 29 September.</p> 
				<a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010" id="schedule">View schedule</a> 
			</div> 
			<div class="goals">	
				<h3 class="museo_font">The goals</h3> 
				<ul> 
					<li>Enable observational data to be captured in a manner to develop and promote standards for recording data about organisms.</li> 
					<li>Provide an opportunity to demonstrate these standards in action and evaluate their potential for uptake and use in a real world event.</li> 
					<li>Provide technically-oriented meeting participants the opportunity to showcase their technical skills and software solutions by supporting the event.</li> 
					<li>Serve as a testbed for experiments in social and semantic computing for citizen science.</li> 
				</ul> 
			</div> 
		</div> 
	</div> 
	<div class="outer_block3"> 
		<div class="block3"> 
			<h3>How to contribute</h3> 
			<p>There are many tools that surely will improve your productivity in the Techno/Bioblitz. Feel free to download and use it!</p> 
		</div> 
		<div class="separator2"></div> 
	</div>	
	<div class="outer_block4"> 
		<div class="block4">
		  
		  <ul>
		    <li>
		      <a href="/taxonomizer"><img class="img_tool" src="./images/220.jpg" alt="flickr tagger"/></a>
					<h4 class="museo_font">Taxonomizer</h4> 
					<p class="tool_author">by <a href="http://www.vizzuality.com" target="_blank">vizzuality</a></p> 
					<p class="tool_explanation">If you know a lot about the scientific names of species, you can help us identify images without names. You will get lot of karma!</p> 
					<a href="/taxonomizer" class="download go"><span>Go to Taxonomizer</span></a>
		    </li>
		    <li>
		      <a href="/flickrtagger"><img class="img_tool" src="./images/221.jpg" alt="flickr tagger"/></a>
					<h4 class="museo_font">FlickrTagger</h4> 
					<p class="tool_author">by <a href="http://www.vizzuality.com" target="_blank">vizzuality</a></p> 
					<p class="tool_explanation">If you want to use your own camera, you can use this app to geotag and provide identifications after you come back from the trip.</p> 
					<a href="/flickrtagger"class="download"><span>Download it</span></a>
		    </li>
		    <li>
		      <a href="http://ereleve.codeplex.com/" target="_blank"><img class="img_tool" src="./images/pocket_eReleve.png" alt="pocket eReleve"/></a>
					<h4 class="museo_font">Pocket eReleve</h4> 
					<p class="tool_author">by <a href="http://www.natural-solutions.eu/" target="_blank">natural solutions</a></p> 
					<p class="tool_explanation">Pocket eRelevé is an application intended for naturalists and ecologists conducting field surveys.</p> 
					<a href="http://ereleve.codeplex.com/" class="download"><span>Download it</span></a>
		    </li>
		    <li>
		      <a href="http://groups.google.com/group/tdwg-bioblitz/web/simple-spotter?pli=1" target="_blank"><img class="img_tool" src="./images/simple_spotter.png" alt="simple spotter"/></a>
					<h4 class="museo_font">Simple Spotter</h4> 
					<p class="tool_author">by <a href="http://www.hyam.net/blog/" target="_blank">Roger Hyam</a></p> 
					<p class="tool_explanation">Simple Spotter is a proof of concept HTML5 / WebKit based data collection utility that will run on all WebKit based browsers.</p> 
					<a href="http://groups.google.com/group/tdwg-bioblitz/web/simple-spotter?pli=1" class="download"><span>Download it</span></a>
		    </li>
		  </ul>
		  <ul>
		    <li>
		      <a href="http://biofinity.unl.edu/info/bioblitz"><img class="img_tool" src="./images/bioinfinity.jpg" alt="Biofinity Bioblitz"/></a>
					<h4 class="museo_font">Biofinity BioBlitz</h4> 
					<p class="tool_author">by <a href="http://biofinity.unl.edu/" target="_blank">The Biofinity Project</a></p> 
					<p class="tool_explanation">BioBlitz with your iPhone, iPod Touch, Android Phone, or from Twitter on any mobile device with The Biofinity Project.</p> 
					<a href="http://biofinity.unl.edu/info/bioblitz" class="download go"><span>Download it</span></a>
		    </li>
		    <li>
		      <a href="http://itunes.apple.com/us/app/encyclopedia-life-uploader/id303879202?mt=8"><img class="img_tool" src="./images/EOL_app.jpg" alt="EOL Uploader App"/></a>
					<h4 class="museo_font">EOL Uploader App</h4> 
					<p class="tool_author">by <a href="http://www.eol.org" target="_blank">EOL</a></p> 
					<p class="tool_explanation">Help us catalog the amazing biodiversity of our planet by contributing to the Encyclopedia of Life (EOL) using your iPhone!</p> 
					<a href="http://itunes.apple.com/us/app/encyclopedia-life-uploader/id303879202?mt=8" class="download go"><span>Download it</span></a>
		    </li>		 
		    <li>
		      <a href="http://labs.silverbiology.com/bioblitz/"><img class="img_tool" src="./images/silverbiology.jpg" alt="EOL Uploader App"/></a>
					<h4 class="museo_font">Data Collection Tool for the BioBlitz</h4> 
					<p class="tool_author">by <a href="http://www.silverbiology.com/" target="_blank">SilverBiology</a></p> 
					<p class="tool_explanation">Application specially tuned for the Ipad.Focus on collecting occurrence information during the Bioblitz field trips.</p> 
					<a href="http://labs.silverbiology.com/bioblitz/" class="download go"><span>Download it</span></a>
		    </li>		   
		  </ul>
		</div>						
	</div> 
	<div class="developer_info">
		<div class="content">
			<div class="text">
				<h3 class="museo_font">Developer information</h3>
				<p>Are you going to develop something? Do you have any geek questions? </p>
			</div>
			<a class="dev_info" href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010ProgrammerGuidelines"></a>
		</div>
	</div>
	<div class="outer_footer">		 
		<div class="footer"> 
			<div class="left"> 
				<ul> 
					<li class="first"><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010">About the event</a></li> 
					<li><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010">Schedule</a></li> 
					<li><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010FieldTrips#Schedule">Sign up</a></li> 
					<li class="last"><a href="http://wiki.tdwg.org/twiki/bin/view/Main/BioBlitz2010ProgrammerGuidelines">Developers</a></li> 
				</ul> 
			</div> 
			<div class="right"> 
				<p>Organized by</p> 
				<a href="http://www.tdwg.org/" target="_blank"></a> 
			</div> 
			<div class="last"> 
				<p class="vizzuality">This website has been developed by</p><a href="http://www.vizzuality.com" target="_blank"></a> 
			</div> 
		</div> 
	</div> 
</div> 
 
</body> 
</html>