body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; background:white}
span.clear{clear:both;}
a:focus{outline:none}
input:focus{outline:none;}
ul {list-style:none;}

body {background:url(../images/user_bkg_no.jpg) repeat 0 0; color:white;}
#container {position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/user_bkg.jpg) repeat-x 0 bottom;}
#container div.main {position:absolute; width:790px; height:500px; left:50%; top:50%; margin:-200px 0 0 -395px;}
#container div.main div.bubble {position:relative; float:left; width:288px; height:309px; background:url(../images/user_bubble.png) no-repeat 0 0; margin:0 30px 0 0;}
#container div.main div.bubble p {float:left; margin:150px 0 0 28px; width:233px; height:95px; text-align:center; font:normal 15px Arial; color:#3F3F3F; text-shadow:#FFFFFF 0 1px; line-height:19px;}
#container div.main div.log {float:left; padding:65px 0 0 0; margin:0; width:460px;}
#container div.main div.log div.login {float:left; padding:14px; width:430px; height:61px;}
#container div.main div.log div a {float:left; font:bold 13px Arial; color:white; text-decoration:none; padding:0 0 0 20px; background:url(../images/checkbox.png) no-repeat 0 0;}
#container div.main div.log div.selected a {background-position:0 -18px; cursor:default;}
#container div.main div.log div form {float:left; width:410px; margin:10px 0 0 20px; display:none;}
#container div.main div.log div.login {background:none;}
#container div.main div.log div.login.selected {background:url(../images/login_bkg.png) no-repeat 0 0;}
#container div.main div.log div.selected form {display:block;}
#container div.main div.log div form input{float:left; width:147px; height:20px; padding:5px; margin:0 9px 0 0; font:normal 15px Arial; color:#666666; background:url(../images/email_input.png) no-repeat 0 0; border:none;}
#container div.main div.log div form input[type="password"] {margin:0;}
#container div.main div.log div form input[type="submit"] {float:left; width:78px; height:28px; margin:1px 0 0 9px; background:url(../images/login_button.png) no-repeat 0 0; text-align:center; font:bold 15px Arial; color:#333333; text-shadow:white 0 1px;}
#container div.main div.log div form input[type="submit"]:hover {background-position:0 -28px; cursor:pointer;}
#container div.main div.log div.login form input.error {background-position:0 -30px;}

#container div.main div.log div.register {position:relative; float:left; padding:14px; margin:10px 0 0; width:430px; height:258px;}
#container div.main div.log div.register.selected {background:url(../images/register_bkg.png) no-repeat 0 0;}
#container div.main div.log div.register form p.long {float:left; width:410px;}
#container div.main div.log div.register form p {float:left; width:157px;}
#container div.main div.log div.register form p.margin {margin:0 8px 0 0;}
#container div.main div.log div.register form label {float:left; width:410px; font:normal 13px Arial; color:#868686; padding:15px 0 5px 0;}
#container div.main div.log div.register form label.first {padding:5px 0 5px 0;}
#container div.main div.log div.register form label.short {width:147px;}
#container div.main div.log div.register form input.long {width:312px; height:20px; background:url(../images/long_text_input.png) no-repeat 0 0;}
#container div.main div.log div.register form div.field_with_errors input.long {background-position:0 -30px;} 


#container div.main div.log div.register form input[type="submit"] {margin:20px 0 0 0; float:right;}
#container div.main div.log div.register p#error_msg {position:absolute; bottom:20px; left:34px; font:normal 14px Arial; color:#9E0505; width:auto;}

div#footer {position:absolute; bottom:30px; z-index:3; width:800px; left:50%; margin:0 0 0 -400px;}
div#footer div.stats {position:relative; float:left; width:283px; height:10px; background:url(../images/bar_bkg.png) no-repeat 0 0; margin:31px 0 0 25px; display:none;}
div#footer div.stats p {float:left; padding:0 0 0 10px; margin:0; height:10px; width:auto; background:url(../images/bar_left.png) no-repeat 0 0;}
div#footer div.stats p span {float:left; background:url(../images/bar_right.png) no-repeat right 0; width:15px; padding:0; height:10px;}
div#footer div.stats div.tooltip {position:absolute; width:97px; height:60px; padding:8px 8px 0 8px; background:url(../images/taxo_stats_bkg.png) no-repeat 0 0; bottom:12px; left:20px; z-index:10000;}
div#footer div.stats div.tooltip h2 {float:left; width:100%; font:bold 35px Arial; color:#333333; padding:0; margin:0; letter-spacing:-1px; line-height:27px;}
div#footer div.stats div.tooltip p {float:left; width:100%; font:normal 14px Arial; color:#333333; padding:2px 0 0 0; margin:0; background:none; letter-spacing:-1px; word-spacing:0px;}
div#footer div.stats div.numbers {position:absolute; width:120px; height:60px; padding:0; background:none; bottom:12px; right:0; z-index:1; text-align:right;}
div#footer div.stats div.numbers h2 {float:right; font:bold 25px Arial; color:#333333;}
div#footer div.stats div.numbers p {float:right; font:normal 13px Arial; color:#333333; background:none; letter-spacing:0;}
div#footer p {float:right; font:normal 13px Geneva; color:white; width:85px; height:auto; margin:25px 5px 0 0;}
div#footer a.logo {float:right; background:url('../images/flickrtagger/vizz_logo.png') no-repeat 0 0; width:78px; height:41px; margin:1px 5px 0 0;}