body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal}
img,fieldset{border:none; padding:0; margin:0;}
body{font:normal 12px Arial; background:white;}
span.clear{clear:both;}
a:focus{outline:none}
input:focus{outline:none;}
ul {list-style:none;}

div#map {position:relative; float:left; width:100%; height:100% margin:0; padding:0; border:none; overflow:hidden;}
div.content {position:absolute; left:50%; top:0; margin:0 0 0 -418px; width:836px; background:transparent;}
div.content div.header {position:relative; width:812px; height:62px; margin:0 auto; background:url(../images/visualization/header.png) no-repeat 0 0;}
div.content h1.title {position:relative; float:left; width:812px; height:165px; background:url(../images/visualization/title.png) no-repeat 0 0;}


div.main {position:absolute; left:50%; top:600px; margin:0 0 0 -418px; width:836px; background:transparent; padding:0 0 90px 0;}
div.main div.main_top {position:relative; float:left; margin:0; width:836px; background:url(../images/visualization/top_bkg.png) no-repeat 0 0; padding:0;}
div.main div.main_bottom {float:left; width:836px; background:url(../images/visualization/bottom_bkg.png) no-repeat 0 bottom; padding:0 0 45px 0;}
div.main div.main_center {float:left; width:812px; background:url(../images/visualization/center_bkg.png) repeat-y 0 0; padding:0 12px;}

div.main div.main_top div.stats {float:left; height:99px; width:756px; padding:40px 40px 55px 40px;}
div.main div.main_top div.move_box {position:absolute; z-index:100; height:104px; top:30px; right:30px; width:200px; border-left:1px solid white;}
div.main div.main_top div.move_box img {position:absolute; top:41px; left:-9px;}
div.main div.main_top div.stats div#main_chart {height:104px;}

div.main div.main_center div.info {float:left; width:100%; padding:0;}
div.main div.main_center div.left {float:left; width:528px; background:white; padding:0;}
div.main div.main_center div.left div.list {float:left; width:480px; background:white; padding:15px 24px; border-right:1px solid #CCCCCC;}
div.main div.main_center div.left div.list h3 {float:left; padding:0 0 4px 7px; font:bold 11px Arial; color:#999999;}
div.main div.main_center div.left div.list ul {float:left; width:466px; padding:0 7px; border-top:1px solid #CCCCCC;}
div.main div.main_center div.left div.list ul li {float:left; width:100%; padding:18px 0 6px; border-bottom:1px solid #E5E5E5;}
div.main div.main_center div.left div.list ul li.last {border-bottom:none;}
div.main div.main_center div.left div.list ul li div.image {position:relative; float:left; width:98px; height:86px; padding:4px 4px 0 4px; margin:0 8px 0 0; background:url(../images/visualization/list_bkg.jpg) no-repeat 0 0;}
div.main div.main_center div.left div.list ul li div.image img {float:left; width:98px; height:68px;}
div.main div.main_center div.left div.list ul li div.image img.kind {position:absolute; top:0; left:0; width:20px; height:20px;}
div.main div.main_center div.left div.list ul li div.image img.unknown {position:absolute; top:-10px; left:-10px; width:28px; height:29px;}
div.main div.main_center div.left div.list ul li div.data {float:left; width:350px; padding:3px 0 0 0;}
div.main div.main_center div.left div.list ul li div.data h2 {float:left; width:100%; font:normal 21px Georgia; color:#333333;}
div.main div.main_center div.left div.list ul li div.data p {float:left; width:100%; font:normal 13px Georgia; color:#999999; padding:3px 0 0 0;}
div.main div.main_center div.left div.list ul li div.data p a {color:#999999;}
div.main div.main_center div.left div.list ul li div.data p a:hover {color:#666666;}
div.main div.main_center div.left div.list ul li div.data span {float:left; width:100%; margin:10px 0 0 0;}
div.main div.main_center div.left div.list ul li div.data span a.map {float:left; width:87px; height:18px; background:url(../images/visualization/map_button.png) no-repeat 0 0; margin:0 4px 0 0;}
div.main div.main_center div.left div.list ul li div.data span a.map:hover {background-position:0 -18px;}
div.main div.main_center div.left div.list ul li div.data span a.recognize {float:left; width:128px; height:18px; background:url(../images/visualization/recognize_button.png) no-repeat 0 0;}
div.main div.main_center div.left div.list ul li div.data span a.recognize:hover {background-position:0 -18px;}
div.main div.main_center div.left div.final {position:relative; float:left; width:528px; height:37px; background:url(../images/visualization/list_final.jpg) no-repeat 0 -2px; padding:0; margin:0;}
div.main div.main_center div.left div.final a {position:absolute; left:243px; top:2px; font:normal 15px Georgia; color:#333333;}
div.main div.main_center div.left div.final a:hover {color:black;}

div.main div.main_center div.right {float:left; width:235px; background:none; padding:15px 24px;}
div.main div.main_center div.right h3 {float:left; padding:0 0 4px 7px; font:bold 11px Arial; color:#999999;}
div.main div.main_center div.right h3.top {margin:20px 0 0 0;}
div.main div.main_center div.right div.block {float:left; width:100%; height:200px; border-top:1px solid #CCCCCC; margin:0;}
div.main div.main_center div.right ul {float:left; width:221px; padding:9px 7px 0 7px; border-top:1px solid #CCCCCC;}
div.main div.main_center div.right ul li {float:left; width:100%; padding:7px 0 2px;}
div.main div.main_center div.right ul li div.image {float:left; width:68px; height:80px; padding:4px 4px 0 4px; margin:0 6px 0 0; background:url(../images/visualization/user_list_bkg.png) no-repeat 0 0;}
div.main div.main_center div.right ul li div.image img {float:left; width:68px; height:68px;}
div.main div.main_center div.right ul li div.data {float:left; width:135px; padding:3px 0 0 0;}
div.main div.main_center div.right ul li div.data h4 {float:left; width:100%; font:normal 19px Georgia; color:#333333; padding:0 0 4px 0;}
div.main div.main_center div.right ul li div.data p {float:left; width:100%; font:normal 13px Georgia; color:#999999;}
div.main div.main_center div.right ul li div.data p strong {font:normal 19px Georgia; color:#999999;}


.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}












