<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head> 
		<title>Taxonomizer by Vizzuality</title> 
		<link rel="stylesheet" href="/stylesheets/taxonomizer.css" type="text/css" media="screen" title="no title" charset="utf-8"> 
		<script type="text/javascript" src="/javascripts/js_config.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script> 
	  <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
	  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="/javascripts/taxonomizer_objects.js?1"></script>
		<script type="text/javascript" src="/javascripts/taxonomizer.js?3"></script>
		<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18595465-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
	</head> 
  <body onload="init()">
			<p class="hidden" id="username"><%=current_user.name%></p>
      <div id="container"></div>
	</body> 
</html>