<!DOCTYPE html> 
<html> 
<head> 
	<title>Flickrtagger</title> 
    <link rel="shortcut icon" href="./images/favicon.ico"/>


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script> 

 	<%= stylesheet_link_tag 'flickrtagger' %>
	<script src="/javascripts/cufon-yui.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/javascripts/Museo_Sans_500_400.font.js" type="text/javascript" charset="utf-8"></script> 
	<%= javascript_include_tag 'flickrtagger/supersized.2.0','flickrtagger/flickrtagger' %>
		<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18595465-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head> 
 
<body> 

	<!--Slides-->
	<div id="supersize">
		<%= image_tag('flickrtagger/background.jpg') %>
	</div>

	<div id="content">
		<div class="float_content">
			<div id="flickr_tagger_content">
				<div class="text">
					<p class="title museo_font">for TDWG2010</p>
					<p class="first museo_font">Flickertagger is developed with the idea that most users will not be taking pictures with their mobiles, but rather use their own “good” cameras. With Flickertagger you will be able to later automatically georeference your pictures by providing a GPX file of the track you made during the Bioblitz. </p>
					<p class="museo_font">Flickertagger allows you to upload your pictures to your own Flickr account, or to upload them to a public repository. All those observations will then be submmited to the Bioblitz database.</p>
					<p class="first museo_font" style="color:red;">We are still developing! Come back soon. (Yes, we know we dont have much time but we are doing our best!)</p><!--a class="install"></a -->
				</div>
			</div>
			<div id="footer">
				<a class="logo" href="http://www.vizzuality.com" target="_blank"></a>
				<p>developed by</p>
			</div>
		</div>
	</div>		
	
</body> 
</html>