/*New code*/
/*Embed fonts*/
@font-face {
    src: url(components_skin.swf);
    fontFamily: "Arial";
    fontWeight: normal;
}

@font-face {
    src: url(components_skin.swf);
    fontFamily: "Arial Bold";
    fontWeight: normal;
}

@font-face {
    src: url(components_skin.swf);
    fontFamily: "Arial Bold Italic";
    fontWeight: normal;
}

@font-face {
    src: url(components_skin.swf);
    fontFamily: "Arial Italic";
    fontWeight: normal;
}


/* class */
WindowedApplication {    
    background-image:   Embed("com/vizzuality/assets/app_bkg.png");
    background-repeat:   repeat;
    background-position: center;
    background-blend:    multiply;
    font-family: "Arial";
}


ScrollBar {
	downArrowDisabledSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowDownSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowOverSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowUpSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	thumbDownSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="components_skin.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="components_skin.swf", symbol="ScrollTrack_skin");
	upArrowDisabledSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin");
	upArrowDownSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin");
	upArrowOverSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin"); 
	upArrowUpSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin"); 
}

/*backgrounds*/

Canvas.headerCanvas {
    background-image:   Embed("com/vizzuality/assets/header_bkg.png");
    background-repeat:   repeat;
    background-position: center;
    background-blend:    multiply;
}	


Canvas.auth {
	background-image:   Embed("com/vizzuality/assets/shadow.png");
    background-repeat: 	repeat;
    background-position: center;
}

Canvas.authBkg {
	background-image: Embed("com/vizzuality/assets/illustration.jpg");
    background-repeat: 	repeat;
    background-position: center;
}

Canvas.bkgAuthOption {
	background-image:Embed(source="components_skin.swf", symbol="bkgAuthOption");
}

Tilelist.imagesContent {
    background-image:   Embed("com/vizzuality/assets/header_bkg.png");
    background-repeat: 	repeat;
    background-position: center;
}	
	

VBox.auth {
	background-image:   Embed("com/vizzuality/assets/app_bkg.png");
    background-repeat: 	repeat;
    background-position: center;
}

.infoUpGreenBkg {
	background-image:Embed(source="components_skin.swf", symbol="infoUpGreenBkg");
 	background-size: '100%';
}

.infoUpRedBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpRedBkg");
 	background-size: '100%';
}

.infoUpOrangeBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpOrangeBkg");
 	background-size: '100%';
}

.infoUpGreyBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpGreyBkg");
 	background-size: '100%';
}

.infoUpYellowBkg {
 	background-image:Embed(source="components_skin2.swf", symbol="infoUpYellowBkg");
 	background-size: '100%';
}

.tooltipRedBkg {
 	background-image:Embed(source="components_skin.swf", symbol="tooltipRedBkg");
 	background-size: '100%';
}

.tooltipGreyBkg {
 	background-image:Embed(source="components_skin.swf", symbol="tooltipGreyBkg");
 	background-size: '100%';
}
	
.photoGroupBkg {
 	background-image:Embed(source="components_skin2.swf", symbol="photoGroupBkg");
 	background-size: '100%';
}

.photoGroupBkgSelected {
 	background-image:Embed(source="components_skin2.swf", symbol="photoGroupBkg_selected");
 	background-size: '100%';
}

.photoBkg {
 	background-image:Embed(source="components_skin2.swf", symbol="photoBkg");
 	background-size: '100%';
}

.photoBkgSelected {
 	background-image:Embed(source="components_skin2.swf", symbol="photoBkg_selected");
 	background-size: '100%';
}

.spinnerBkg {
	background-color: #000000;
	background-alpha: 0.6;
	border-style: solid;
	border-thickness: 0;
	corner-radius: 5;
}
	


/*fonts*/

Text.authText {
	fontSize: 17;
	color: white; 
	font-weight: normal;
	font-anti-alias-type: advanced;
	font-grid-fit-type: subpixel;
}

Text.authQuestion {
	fontFamily: "Arial Bold";
	fontSize: 15;
	color: white; 
	font-weight: normal;
}

Label.authOptionBtnLabel {
	fontFamily: "Arial Bold";
	fontSize: 13;
	color: #333333; 
	font-weight: normal;
}

Label.authOptionBtnLabelShadow {
	fontFamily: "Arial Bold";
	fontSize: 13;
	color: #ffffff; 
	font-weight: normal;
}

Label.cancelConnectBtnLabel {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #333333; 
	font-weight: normal;
}

Label.cancelConnectBtnLabelShadow {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #daa13e; 
	font-weight: normal;
}

Label.makeGroupBtnLabel {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #333333; 
	font-weight: normal;
}

Label.makeGroupBtnLabelShadow {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #efd97a; 
	font-weight: normal;
}

Label.addPhotoBtnLabel {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #333333; 
	font-weight: normal;
}

Label.addPhotoBtnLabelShadow {
	fontFamily: "Arial Bold";
	fontSize: 11;
	color: #daa13e; 
	font-weight: normal;
}

Label.authOptionRadioLabelSelected {
	fontSize: 15;
	color: #1b1b1b; 
	font-weight: normal;
}

Label.authOptionRadioLabelUnselected {
	fontSize: 15;
	color: #ffffff; 
	font-weight: normal;
}

Label.txtInfoUp {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #333333; 
	font-weight: normal;
}

Label.txtInfoUpShadow {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #ffffff;
	font-weight: normal;
}

Label.txtEmptySectionLabel {
	font-family: "Arial";
	fontSize: 15;
	color: #454545;
	font-weight: bold;
}

Label.txtRetryTooltipBtn {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #ffffff;
	font-weight: normal;
}

Label.txtRetryTooltipBtnShadow {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #4f1100;
	font-weight: normal;
}

Label.txtRetry {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #ffffff;
	font-weight: normal;
}

Label.txtRetryShadow {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #000000;
	font-weight: normal;
}

Label.txtSuggestedNames {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #666666;
	font-weight: normal;
}
Label.txtSuggestedNamesShadow {
	font-family: "Arial Bold";
	fontSize: 13;
	color: #ffffff;
	font-weight: normal;
}




/*buttons*/

.authOptionBtnUp {
	background-image:Embed(source="components_skin2.swf", symbol="authOptionBtn_up");
	background-size: '100%';
}

.authOptionBtnOver {
	background-image:Embed(source="components_skin2.swf", symbol="authOptionBtn_over");
	background-size: '100%';
}

.sectionUpBtnPhoto {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_up");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_over");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_up");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
}

.selectedBtnPhoto {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnPhoto_down");
}


.sectionUpBtnGpx {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_up");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_over");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_up");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
}

.selectedBtnGpx {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnGpx_down");
}

.sectionUpBtnHelp {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_up");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_over");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_up");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
}


.selectedBtnHelp {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnHelp_down");
}

.sectionUpBtnLogout {
	up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_up");
	over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_over");
	down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_up");
	selected-up-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_down");
	selected-over-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_down");
	selected-down-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_down");
	selected-disabled-skin: Embed(source="components_skin2.swf", symbol="sectionUpBtnLogout_down");
}


.retryBtnUp {
	background-image:Embed(source="components_skin.swf", symbol="retryBtn_up");
	background-size: '100%';
}

.retryBtnOver {
	background-image:Embed(source="components_skin.swf", symbol="retryBtn_over");
	background-size: '100%';
}

.cancelConnectBtnUp {
	background-image:Embed(source="components_skin2.swf", symbol="cancelConnectBtn_up");
	background-size: '100%';
}

.cancelConnectBtnOver {
	background-image:Embed(source="components_skin2.swf", symbol="cancelConnectBtn_over");
	background-size: '100%';
}

.makeGroupBtnUp {
	background-image:Embed(source="components_skin2.swf", symbol="makeGroupBtn_up");
	background-size: '100%';
}

.makeGroupBtnOver {
	background-image:Embed(source="components_skin2.swf", symbol="makeGroupBtn_over");
	background-size: '100%';
}

.addPhotoBtnUp {
	background-image:Embed(source="components_skin2.swf", symbol="cancelConnectBtn_up");
	background-size: '100%';
}

.addPhotoBtnOver {
	background-image:Embed(source="components_skin2.swf", symbol="cancelConnectBtn_over");
	background-size: '100%';
}

.uploadGreenBtn {
	up-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_up");
	over-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_over");
	down-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_down");
	disabled-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_disabled");
}

.deleteRedBtn {
	up-skin: Embed(source="components_skin2.swf", symbol="deleteRedBtn_up");
	over-skin: Embed(source="components_skin2.swf", symbol="deleteRedBtn_over");
	down-skin: Embed(source="components_skin2.swf", symbol="deleteRedBtn_down");
	disabled-skin: Embed(source="components_skin2.swf", symbol="deleteRedBtn_disabled");
}

.btnEmptySection{	
	skin: ClassReference(null);
	up-skin: ClassReference(null);
	over-skin: ClassReference(null);
	down-skin: ClassReference(null);
	disabled-skin : ClassReference(null);
	backgroundAlpha:0;
	borderThickness: 0;
	borderStyle: none; 
	fontFamily: "Arial";
	fontSize: 15;
	fontWeight: bold;
	font-anti-alias-type: normal;
	textDecoration: underline;
	verticalCenter: 0;
	color: #ffffff;
	textRollOverColor: #cccccc;
	textSelectedColor: #cccccc;
	focusAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

.btnCancelUploading {	
	skin: ClassReference(null);
	up-skin: ClassReference(null);
	over-skin: ClassReference(null);
	down-skin: ClassReference(null);
	disabled-skin : ClassReference(null);
	backgroundAlpha:0;
	borderThickness: 0;
	borderStyle: none; 
	fontFamily: "Arial";
	fontSize: 13;
	fontWeight: normal;
	font-anti-alias-type: normal;
	textDecoration: underline;
	verticalCenter: 0;
	color: #4f1100;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	focusAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

/*form items */

.authOptionRadio { 
	skin: ClassReference(null);
	upIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_up");
	overIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_over");
	downIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_down");
	disabledIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_disabled");
	selected-up-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_up");
	selected-over-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_over");
	selected-down-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_down");
	selected-disabled-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_disabled");
}

.authTxtInput {
	background-color: #668611;
	border-color: #4e6412;
	border-style: solid;
	border-thickness: 1;
	corner-radius: 5;
	color: #b3c38e;
	font-weight: normal;
	font-size: 13;
	padding-top: 5;
	padding-left: 7;
	padding-right: 7;
	focus-alpha: 0;
}

.titlePhotoTxtInput {
	background-disabled-color: #0d0d0d;
	background-color: #0d0d0d;
	border-style: solid;
	border-thickness: 0.1;
	corner-radius: 3;
	color: #B3B3B3;
	font-weight: bold;
	font-size: 13;
	focus-alpha: 0;
}