/*New code*/
/* class */
WindowedApplication {    
    background-image:   Embed("com/vizzuality/assets/header_bkg.png");
    background-repeat:   repeat;
    background-position: center;
    background-blend:    multiply;
    font-family: "Arial";
}


ScrollBar {
	downArrowDisabledSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowDownSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowOverSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	downArrowUpSkin: Embed(source="components_skin.swf", symbol="ScrollArrowDown_Skin");
	thumbDownSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="components_skin.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="components_skin.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="components_skin.swf", symbol="ScrollTrack_skin");
	upArrowDisabledSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin");
	upArrowDownSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin");
	upArrowOverSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin"); 
	upArrowUpSkin: Embed(source="components_skin.swf", symbol="ScrollArrowUp_Skin"); 
}

/*backgrounds*/

Canvas.auth {
	background-image:   Embed("com/vizzuality/assets/shadow.png");
    background-repeat: 	repeat;
    background-position: center;
}

Canvas.authBkg {
	background-image: Embed("com/vizzuality/assets/illustration.jpg");
    background-repeat: 	repeat;
    background-position: center;
}

Canvas.bkgAuthOption {
	background-image:Embed(source="components_skin.swf", symbol="bkgAuthOption");
}
	

VBox.auth {
	background-image:   Embed("com/vizzuality/assets/app_bkg.jpg");
    background-repeat: 	repeat;
    background-position: center;
}

.infoUpGreenBkg {
	background-image:Embed(source="components_skin.swf", symbol="infoUpGreenBkg");
}

.infoUpRedBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpRedBkg");
}

.infoUpOrangeBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpOrangeBkg");
}

.infoUpGreyBkg {
 	background-image:Embed(source="components_skin.swf", symbol="infoUpGreyBkg");
}

.tooltipRedBkg {
 	background-image:Embed(source="components_skin.swf", symbol="tooltipRedBkg");
}

.tooltipGreyBkg {
 	background-image:Embed(source="components_skin.swf", symbol="tooltipGreyBkg");
}
	
.photoGroupBkg {
 	background-image:Embed(source="components_skin.swf", symbol="photoGroupBkg");
}
	


/*fonts*/

Text.authText {
	fontSize: 17;
	color: white; 
	font-weight: normal;
	font-anti-alias-type: advanced;
	font-grid-fit-type: subpixel;
}

Text.authQuestion {
	fontFamily: "Arial";
	fontSize: 15;
	color: white; 
	font-weight: bold;
}

Label.authOptionBtnLabel {
	fontFamily: "Arial";
	fontSize: 13;
	color: #333333; 
	font-weight: bold;
}

Label.authOptionBtnLabelShadow {
	fontFamily: "Arial";
	fontSize: 13;
	color: #ffffff; 
	font-weight: bold;
}

Label.authOptionRadioLabelSelected {
	fontSize: 15;
	color: #1b1b1b; 
	font-weight: normal;
}

Label.authOptionRadioLabelUnselected {
	fontSize: 15;
	color: #ffffff; 
	font-weight: normal;
}




/*buttons*/

.authOptionBtnUp {
	background-image:Embed(source="components_skin.swf", symbol="authOptionBtn_up");
}

.authOptionBtnOver {
	background-image:Embed(source="components_skin.swf", symbol="authOptionBtn_over");
}

.sectionBtnUp {
	background-image:Embed(source="components_skin.swf", symbol="sectionBtn_up");
}

.sectionBtnOver {
	background-image:Embed(source="components_skin.swf", symbol="sectionBtn_over");
}

.retryBtnUp {
	background-image:Embed(source="components_skin.swf", symbol="retryBtn_up");
}

.retryBtnOver {
	background-image:Embed(source="components_skin.swf", symbol="retryBtn_over");
}

.uploadGreenBtn {
	up-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_up");
	over-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_over");
	down-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_down");
	disabled-skin: Embed(source="components_skin.swf", symbol="uploadGreenBtn_disabled");
}

.deleteRedBtn {
	up-skin: Embed(source="components_skin.swf", symbol="deleteRedBtn_up");
	over-skin: Embed(source="components_skin.swf", symbol="deleteRedBtn_over");
	down-skin: Embed(source="components_skin.swf", symbol="deleteRedBtn_down");
	disabled-skin: Embed(source="components_skin.swf", symbol="deleteRedBtn_disabled");
}


/*form items */

.authOptionRadio { 
	skin: ClassReference(null);
	upIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_up");
	overIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_over");
	downIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_down");
	disabledIcon: Embed(source="components_skin.swf", symbol="authOptionRadioUnselected_disabled");
	selected-up-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_up");
	selected-over-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_over");
	selected-down-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_down");
	selected-disabled-icon: Embed(source="components_skin.swf", symbol="authOptionRadioSelected_disabled");
}

.authTxtInput {
	background-color: #668611;
	border-color: #4e6412;
	border-style: solid;
	border-thickness: 1;
	corner-radius: 5;
	color: #b3c38e;
	font-family: "Arial";
	font-weight: normal;
	font-size: 13;
	padding-top: 5;
	padding-left: 7;
	padding-right: 7;
	focus-alpha: 0;
}



/*Old code*/

/* 
global {
    modalTransparencyBlur: 0;
    modalTransparency: 0.6;
    modalTransparencyColor: black;
    modalTransparencyDuration: 300;
}
Button.JamCreation
{
	color: #CCCCCC;
	fillAlphas: 1.0, 1.0;
	fillColors: #454545, #454545, #A7A7A7, #686868;
	fontFamily: DINOT-Bold;
	fontSize: 12;
	fontWeight: normal;
	textRollOverColor: #FFFFFF;
	themeColor: #6C6C6C;
}

Button.itemButton
{
	borderColor: #9F9F9F;
	color: #BDBDBD;
	fillAlphas: 1.0, 1.0;
	fillColors: #444444, #363636, #363636, #444444;
	fontFamily: DINOT-Bold;
	fontSize: 10;
	fontWeight: normal;
	textRollOverColor: #E6E6E6;
	textSelectedColor: #6B6B6B;
	themeColor: #969696;
	cornerRadius: 0;
	disabledColor: #8D8D8D;
	paddingBottom: 2;
	selectedColor: #444444;
	paddingLeft: 5;
	paddingRight: 5;
	horizontalGap: 1;
	paddingTop: 2;
}

Canvas.Mamufas
{
	borderColor: #000000;
	borderStyle: solid;
	borderThickness: 0.5;
	disabledColor: #000000;
	backgroundDisabledColor: #000000;
	disabledOverlayAlpha: 0.6;
}

TabNavigator.TabNavigatorFlickrTagger
{
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	backgroundColor: #4F4C4C;
	borderThickness: 1;
	fontFamily: Arial;
	color: #FFFFFF;
	fontWeight: normal;
	fontSize: 12;
	tabStyleName: tabNavigatorTab;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	firstTabStyleName: tabNavigatorFirstTab;
	disabledColor: #E4E9E9;
	lastTabStyleName: tabNavigatorLastTab;
}

.tabNavigatorSelectedTabText
{
	color: #FFFFFF;
}
.tabNavigatorFirstTab
{
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fillColors: #DADADA, #DADADA;
	cornerRadius: 2;
	themeColor: #B2B2B2;
	color: #656565;
	textRollOverColor: #8D8D8D;
}
.tabNavigatorLastTab
{
	color: #656565;
	fillAlphas: 1.0, 1.0;
	fillColors: #DADADA, #DADADA;
	textRollOverColor: #8D8D8D;
	themeColor: #B2B2B2;
} 

Alert {
    titleStyleName: "alertTitle";
    messageStyleName: "alertMessage";
    buttonStyleName: "alertButton";
    dropShadowEnabled: true;
    shadowDistance: 5;
    shadowDirection: right;
    cornerRadius: 0;
    embedFonts: true;
    fontFamily: DINOT-Bold;
}

.alertTitle {
    letterSpacing: 0;
    fontSize: 14;
    color: white;
}

.alertMessage {
    letterSpacing: 0;
    fontSize: 10;
    fontWeight: normal;
    color: black;
}

.alertButton {
    letterSpacing: 0;
    fontSize: 11;
    cornerRadius: 0;
    fontWeight: normal;
    textRollOverColor: white;
    color: grey;
}

.CustomTilelist{
  	vertical-scroll-bar-style-name: "VScrollBar";
}

.VScrollBar {
   cornerRadius: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 0.75, 0.7, 0.6, 0.6;
   fillColors: #000000, #000000, #000000, #000000;
   trackColors: #999999, #999999;
   themeColor: #999999;
   borderColor: #b7babc;
   iconColor: #ffffff;
   thumbOffset: 1;
}
 */
