<h1>TDWG Techno Bioblitz admin page</h1>
<p>This is just a landing page for the TDWG/Bioblitz event. It also showcase some example uses of Fusion Tables to visualize the data.
  
<h2>Data map</h2>
<iframe width="100%" height="300px" scrolling="no"  style="border:none;" src="http://tables.googlelabs.com/embedviz?viz=MAP&q=select+col0%2Ccol2%2Ccol4%2Ccol5%2Ccol6%2Ccol7%2Ccol8%2Ccol9%2Ccol10%2Ccol11%2Ccol12%2Ccol13%2Ccol14%2Ccol15%2Ccol16%2Ccol17%2Ccol18%2Ccol19%2Ccol20%2Ccol34%2Ccol21%2Ccol22%2Ccol23%2Ccol24%2Ccol25%2Ccol26%2Ccol29%2Ccol30%2Ccol31%2Ccol32%2Ccol33+from+225363+&h=false&lat=43.95121990866204&lng=-61.5234375&z=5&t=1&l=col18"></iframe>  
  
  
<h2>Data capturing history</h2>
<iframe width='100%' height='200px' scrolling='no' style="border:none;" src="http://tables.googlelabs.com/embedviz?viz=GVIZ&t=STORYLINE&q=select+col2+as+'Title'%2Ccol26+as+'Start'%2Ccol26+as+'End'%2Ccol21+as+'Description'+from+225363++skip+0+limit+8"></iframe>